<body>
  <div class="box-principal">
    <div class="box-login">
      <div class="box-logo">


        <img class="logo" src="assets/images/logo.png" height="50" width="150">| WEB STORE


      </div>
      <!-- CONFIGURAÇÃO DO FORMULARIO DE LOGIN-->
      <div class="forms">


        <p style="color:  #aaaaaa;">Olá, Pablo</p>


        <select class="form-control">
          <option selected disabled>Selecione o grupo</option>
          <option>Grupo 1</option>
          <option>Grupo 2</option>
          <option>Grupo 3</option>
          <option>Grupo 4</option>
          <option>Grupo 5</option>
        </select>
        <select class="form-control">
          <option selected disabled>Selecione o estabelecimento</option>
          <option>Garoa</option>
          <option>Joakins</option>
          <option>Tipo Prime</option>
          <option>Via Reggio</option>

        </select>
        <select class="form-control">
          <option selected disabled>Selecione a unidade</option>
          <option>Paulista</option>
          <option>Moema</option>
          <option>Guarulhos</option>

        </select>




        <button class="md-raised md-ink-ripple margin-left-24 md-button" type="submit" ng-transclude="" md-ink-ripple="#000000"[routerLink]="['/home']" >Continuar</button>
        
      </div>
    </div>
  </div>


</body>