<body>

  <nav class="navbar navbar-dark navbar-expand-lg bg-primary" style="background-color: #351551 !important;">
    
    <img class="navbar-brand" src="assets/images/logo.png" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         <p class="bem-vindo">BEM VINDO, PABLO <br class="acesso">Último acesso: 12/06/2018 | 15:42 <br> Unidade: Garoa</p>
         <li class="nav-item active">
            
            <img class="iconProfile" src="assets/images/user.png"height="30" width="30" >
            
          </li>
      </div>
    </div>
  </nav>
  <div class="box-principal">
    <div class="box-login">
        <p class="selecione-opcao">Selecione uma opção</p>
        <button class="btn-voucher" type="submit" ng-transclude="" md-ink-ripple="#000000">Fidelidade</button>
        <button class="btn-fidelidade" type="submit" ng-transclude="" md-ink-ripple="#000000" window.location.href = 'www.google.com'>Voucher</button>


    </div>
  </div>





</body>